.container {
  display: flex;
  place-content: center;
  text-align: center;
}

.form-container-madlib {
  width: 70%;
  background: cornflowerblue;
  text-align: center;
  padding: 10px;
  margin: 2% 0 5px 0;
}

h2 {
  color: black;
}

.header-madlib {
  margin-top: 5%;
}

.forms-madlib {
  display: flex;
  text-align: center;
  place-content: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.cont {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  background: blue;
  color: white;
  outline: none;
  margin-top: 15px;
}

.cont:focus {
  outline: none;
}

.sub {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  background: green;
  color: white;
  outline: none;
  margin: 15px 0 15px 0;
}

.form-madlib {
  width: 200px;
  border-right: none;
  border-top: none;
  border-left: none;
  background: transparent;
  font-size: 20px;
  margin: 5px 0 25px 20px;
  padding: 0 20px 0 20px;
  border-color: black;
}

.banner-landing {
  overflow: auto;
}

.story {
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 45px;
}

@media screen and (max-width: 480px) {
  .form-container-madlib {
    width: 100%;
  }
}
