.base-bottom {
  margin-bottom: 10px;
}

.base-bottom-text {
  margin-bottom: 20px;
  text-align: center;
}

.back {
  font-size: 2rem;
  cursor: pointer;
  font-weight: bolder;
}

.btnCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
