.banner {
  background-color: lightpink;
  height: 585px;
  text-align: center;
  overflow: hidden;
  padding: 40px;
}

.select {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  place-content: center;
}

.level-box {
  background: cornflowerblue;
  padding: 20px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  color: black;
}

.level-box:hover {
  background: white;
}
