.banner {
  background: linear-gradient(rgb(58, 27, 173), rgb(21, 8, 70));
  height: 100vh;
  text-align: center;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.banner::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.share {
  display: flex;
  gap: 20%;
  place-items: center;
}

.sidebar {
  width: 18%;
  height: 100vh;
  position: fixed;
  background-color: lightblue;
}

.tab {
  background: white;
  box-shadow: rgba(79, 79, 79, 0.1) 0px 6px 14px;
  height: calc(100vh - 270px - 12rem);
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 2rem;
}

.tab table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
}

.tab table thead {
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.tab table thead tr td {
  position: sticky;
  top: 0;
  background-color: lightblue;
}

table tr {
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

table tr td {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

table tr td:nth-child(1) {
  width: 40px;
}

table tr td:nth-child(2) {
  width: 25%;
}

table tr td:nth-child(3) {
  width: 45%;
}

table tr td:nth-child(4) {
  width: 25%;
}

table tr td:nth-child(5) {
  width: 25%;
}

table tr td:nth-child(6) {
  width: 25%;
}

table tr td:nth-child(7) {
  width: 25%;
}
/*********/

.admin {
  display: flex;
  place-content: center;
}

.admin-table {
  display: flex;
  place-content: center;
}

.login {
  height: 100vh;
  background: linear-gradient(rgb(58, 27, 173), rgb(21, 8, 70));
  overflow: hidden;
  color: black;
}

.login-container {
  background: lightcyan;
  text-align: center;
  padding: 40px;
  margin: 0 30px 0 30px;
}

.containers {
  display: flex;
  place-content: center;
  text-align: center;
  margin: 10%;
}

.btns {
  display: flex;
  place-content: center;
  gap: 20px;
}

.btn-exp {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  background: green;
  color: white;
  outline: none;
  margin: 15px 0 15px 0;
  float: right;
}

.btn-exp:hover {
  color: white;
  background-color: transparent;
}

.error {
  width: 100%px;
  height: 30px;
  background-color: rgb(226, 204, 204);
  text-align: center;
  font-weight: 500;
  padding: 5px;
}

.inputs {
  width: 280px;
  height: 30px;
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
}

@media screen and (max-width: 780px) {
  .tab {
    height: calc(100vh - 180px - 12rem);
  }

  table tr {
    font-size: 1rem;
  }

  table tbody tr td:nth-child(2) {
    width: 45%;
  }

  table tbody tr td:nth-child(3) {
    width: 65%;
  }

  table tbody tr td:nth-child(4) {
    width: 45%;
  }

  table tbody tr td:nth-child(5) {
    width: 55%;
  }

  table tbody tr td:nth-child(6) {
    width: 45%;
  }
}
