.banner-landing {
  background: linear-gradient(rgb(58, 27, 173), rgb(21, 8, 70));
  height: 100vh;
  text-align: center;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.banner-landing::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.form-containers {
  height: 100%;
  background: cornflowerblue;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.container {
  display: flex;
  place-content: center;
  text-align: center;
}

a {
  text-decoration: none;
}

.cont {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  background: blue;
  color: white;
  outline: none;
}

.cont:focus {
  outline: none;
}

.forms {
  display: grid;
  text-align: center;
  place-content: center;
}

.form {
  width: 250px;
  outline: none;
  border-right: none;
  border-top: none;
  border-left: none;
  background: transparent;
  font-size: 20px;
  margin: 10px 0 20px 20px;
  border-color: black;
}

.formik {
  cursor: pointer;
}

#required {
  color: red;
  font-size: 14px;
}
