.banner-landing {
  height: 100vh;
  background: lightpink;
  text-align: center;
  overflow: auto;
  padding: 40px;
}

.form-container {
  width: 500px;
  height: 300px;
  background: lightcyan;
  text-align: center;
}

.container {
  display: flex;
  place-content: center;
  text-align: center;
}

.forms {
  display: flex;
  text-align: center;
  place-content: center;
}

a {
  text-decoration: none;
}

.cont {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  background: blue;
  color: white;
  outline: none;
}

.form {
  width: 200px;
  height: 30px;
  outline: none;
  border-right: none;
  border-top: none;
  border-left: none;
  background: transparent;
  font-size: 20px;
  margin-left: 20px;
  padding: 0 20px 0 20px;
}
