.detail-forms-container {
  width: 450px;
  background-color: white;
  box-shadow: 3px 3px 14px 4px rgb(240, 221, 240);
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  overflow: auto;
  max-height: 500px;
  margin-top: 150px;
}

.detail-story-container {
  width: 800px;
  background-color: white;
  box-shadow: 3px 3px 14px 4px rgb(240, 221, 240);
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
  margin-top: 50px;
}

.load {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.tag {
  margin-bottom: 30px;
  font-size: 1.3rem;
  color: purple;
  font-weight: bold;
  text-align: center;
}

.back {
  font-size: 2rem;
  cursor: pointer;
  font-weight: bolder;
}

.form-container {
  margin-bottom: 10px;
  width: 100%;
}

.form-container-madlib {
  width: 100%;
  background: white;
  color: black;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding: 10px;
  margin: 2% 0 5px 0;
}

.logo-main {
  width: 40px;
  height: 40px;
  background-color: purple;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .detail-story-container {
    width: 95vw;
  }

  .view-header {
    flex-wrap: wrap-reverse;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .flex {
    flex-wrap: wrap;
    justify-content: center;
  }
}
